.li-container{
    background-color: #ffffffff;
    margin: 7px;
    height: 200px;
    width: 270px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.title{
    color: #1e3a8a;
    margin-bottom: 0px;
}
.para{
    color: #8321a8;
}